* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --btn-color: #336dd5;
  --body-color: #0f183a;
  --services-card-color:#060606;
  --text-input-color: #ffffff33;
  --statistic-bc-color:#070E2A;
  --Default-font: "Inter", sans-serif;
  --logo-font: "Dancing Script", cursive;

  /* "212529": "#212529",
    "000000": "#000000",
    "0D132C": "#0D132C",
    "8C8C8C": "#8C8C8C",
    "ABABAB": "#ABABAB",
    "B7B7B7": "#B7B7B7",
    "EEEEEE": "#EEEEEE",
    "F2F5F7": "#F2F5F7",
    "FBFBFB": "#FBFBFB",
    "FFA127": "#FFA127",
    "060606": "#060606",
    "070E2A": "",
    "FFEFEC": "#FFEFEC" */
}

html {
  font-size: 62.5%;
  color: var(--text-color);
  font-family: var(--Default-font);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
  font-size: 1.8rem;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/***** Reusable Styling Section *****/

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.section-name{
  font-size: clamp(2.5rem,2.4vw,4.6rem);
  font-family: var(--logo-font);
  color: var(--btn-color);
}

.explore-btn {
  margin: 4rem 0 0 0;
  display: inline-block;
  padding: 1.3rem 2.5rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--btn-color);
  border: 1.2px solid var(--btn-color);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.explore-btn:hover {
  color: var(--btn-color);
  background-color: inherit;
  border: 1.2px solid var(--btn-color);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.explore-containere {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.explore-nav-btn {
  width: 5rem;
  height: 5rem;
  color: var(--text-color);
  text-align: center;
  background-color: var(--btn-color);
  position: absolute;
  bottom: 1%;
  z-index: 2;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.round-icon{
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
  font-size: clamp(2.4rem,2vw,4.2rem);
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/***** End Reusable Styling Section *****/

/***** HEADER Section *****/

header {
  width: 100%;
  height: clamp(6.5rem, 12vh, 12.2rem);
  background-color: var(--body-color);
  box-shadow: rgba(0, 0, 0, 0.051) 0px 3px 6px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  width: 79%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  text-transform: capitalize;
  font-size: clamp(2.4rem, 3.3vw, 6.3rem);
  font-family: var(--logo-font);
}

#nav-container {
  display: flex;
  align-items: center;
}

#nav-item {
  /* width: 104.2rem; */
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

#nav-item > li,
li > a,
li > a > i {
  cursor: pointer;
  font-size: clamp(1.2rem, 1vw, 2.2rem);
  text-transform: capitalize;
  font-weight: 700;
}

#nav-item > li:hover,
li > a:hover {
  color: var(--btn-color);
}

#nav-item > li > input {
  color: var(--text-color);
  width: 23.8rem;
  outline: none;
  height: 4.2rem;
  padding: 0 0 0 30px;
  font-size: 1.5rem;
  background-color: var(--body-color);
  border: 1px solid var(--text-input-color);
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}

#nav-item > li > input:hover {
  outline: none;
  border: 1px solid var(--text-input-color);
}

#search-box {
  color: var(--text-color);
  cursor: pointer;
  width: 5rem;
  height: 4.2rem;
  margin: 0 0 0 -4px;
  background-color: var(--btn-color);
  border: 1px solid var(--text-input-color);
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
}

#search-box > i {
  font-size: 1.6rem;
  font-weight: 800;
}

#dark-mode {
  font-size: 1.9rem;
  margin: 0 1rem;
}

#dark-mode:hover {
  color: var(--btn-color);
}

#nav-button {
  width: 3.5rem;
  height: 3.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--btn-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#nav-button div {
  width: 50%;
  height: 0.32rem;
  background-color: var(--text-color);
}
/***** End HEADER Section *****/
